.row {
  display: grid;
  grid-template-columns: 445px 1fr;
  gap: 0 82px;
  padding-right: 82px;
  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;    
    padding: 0;
    margin: 0 16px;
 }
}
