.wraper {
  padding: 45.5px 23.5px;
  border-radius: 24px;
  background-color: #fff;
  @media screen and (max-width: 768px) {
    margin-bottom: 30px;
  }

  .swiper {
    padding: 0 23.5px;
  }

  .slide {
    display: grid;
    justify-content: center;
    max-width: 500px;
    @media screen and (max-width: 768px) {
      max-height: 210px;
    }
  }
  
  .image {
    object-fit: cover;
    max-width: 100%;
    @media screen and (max-width: 768px) {
      max-height: 210px;
    }
  } 
}
