.amount {
  display: flex;
  align-items: center;
  gap: 0 10px;

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    border-radius: 12px;
    background-color: #ffc812;
    width: 36px;
    height: 36px;
    cursor: pointer;
  }

  .number {
    color: #0c0c0c;
    font-size: 14px;
  }

  &.basket {
    .btn {
      width: 32px;
      height: 32px;
      border-radius: 8px;
      background-color: #f9f9f9;

      svg {
        width: 16px;
        height: 16px;

        path {
          fill: #808080;
        }
      }
    }
  }

  &.component {
    .btn {
      background-color: transparent;
    }

    .number {
      font-size: 20px;
    }
  }
}
