.empty {
  display: grid;
  justify-items: center;
  margin: 160px 0;
  @media screen and (max-width: 768px) {
    margin: 0;
  } 
  .title {
    font-weight: 600;
    margin-bottom: 24px;
    @media screen and (max-width: 768px) {
      font-size: 20px;
    }
  }

  .text {
    color: #808080;
    font-size: 20px;
    line-height: 120%;
    margin-bottom: 64px;
    @media screen and (max-width: 768px) {
      font-size: 14px;
    }
  }
}
