.product {
  padding: 20px;
  border-radius: 24px;
  background-color: #fff;

  @media screen and (max-width: 768px) {
    margin: 0 16px;
    padding: 0 12px;
    width: calc(100% - 32px);
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: row;
      margin-bottom: -16px;
      margin-top: -16px;
    }
  }

  .header {
    width: calc(100% - 92px);
    height: 208px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 24px;
    margin-bottom: 12px;
    margin: 0 16px;

    @media screen and (max-width: 768px) {
      display: grid;
      grid-area: 1 / 1 / 2 / 2;
      margin: 0;
      margin-right: 0px;
    }
  }

  .containerWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media screen and (max-width: 768px) {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-area: 1 / 2 / 2 / 5;
    }
  }

  .container {
    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
    }
  }

  .title {
    margin-bottom: 12px;

    @media screen and (max-width: 768px) {
      margin-bottom: 0;
    }

    &,
    * {
      color: #0c0c0c;
      font-size: 20px;
      font-weight: 600;
    }
  }

  .composition {
    color: #808080;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 12px;
    white-space: nowrap;

    @media screen and (max-width: 768px) {
      white-space: normal;
      margin-bottom: 6px;
    }
  }

  .icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-bottom: 12px;

    &.deleteIcon {
      width: 32px;
      height: 32px;
      padding: 4px;

      border: 1px solid transparent;
      border-radius: 100px;

      transition: 0.2s ease;

      &:hover {
        border-color: #FF4548;
      }
    }
  }

  .options {
    display: flex;
    flex-wrap: wrap;
    gap: 0 20px;

    .option {
      color: #0c0c0c;
      transition: color 0.2s;
      cursor: pointer;

      &:hover {
        color: #ffc812;
        transition: color 0.2s;
      }

      &.active {
        color: #ffc812;
      }
    }
  }

  .price {
    color: #0c0c0c;
    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
    @media screen and (max-width: 768px) {
      font-size: 20px;
    }
  }

  .components {
    color: #808080;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
  }

  .row,
  .footer {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 0 16px;
  }

  &.basket {
    display: grid;
    gap: 8px 0;

    .title,
    .icon,
    .composition,
    .header {
      margin-bottom: 0;
    }

    .row,
    .footer {
      margin-top: 0;
    }

    .composition {
      margin-bottom: 0;
      color: #0c0c0c;
      font-size: 16px;
      font-weight: 500;
      line-height: 120%;
    }

    .footer {
      grid-template-columns: 1fr max-content max-content;

      .edit {
        color: #fab23c;
        font-size: 14px;
        line-height: 120%;
        cursor: pointer;
      }
    }
  }

  .actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 12px;
    @media screen and (max-width: 768px) {
      margin-bottom: 0px;
      align-items: center;
      gap: 12px 0;
    }
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 12px;
    @media screen and (max-width: 768px) {
      margin-bottom: 4px;
      
    }
  }

  .btn {
    width: 100%;

    @media screen and (max-width: 768px) {
      margin-bottom: 12px;
    }
  }
}