.login {
  width: 358px;
  margin-top: 8px;

  .text {
    color: #808080;
    text-align: center;
    font-size: 14px;
    line-height: 120%;
    margin-bottom: 16px;
  }

  .number {
    color: #0c0c0c;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 12px;
  }

  .change {
    width: 100%;
    color: #ffc812;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 20px;
    cursor: pointer;
  }

  .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0 12px;
    margin-bottom: 32px;
  }

  .btn {
    width: 100%;
    margin-bottom: 20px;
  }

  .again {
    width: 100%;
    color: #ffc812;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 120%;
    cursor: pointer;
  }
}
