.personal {
  width: 358px;
  margin-top: 8px;

  .text {
    color: #0c0c0c;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 20px;
  }

  .number {
    margin: 12px 0;
  }

  .btn {
    margin-top: 24px;
    width: 100%;
  }
}
