.header {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 500px;
  gap: 0 30px;
  margin: 40px 0 25px;

  .brand {
    display: block;
    @media screen and (max-width: 768px) {
      display: none;
    }
    
    img {
      width: 29px;
      height: auto;
    }
  }

  .categoriesList {
    @media screen and (max-width: 768px) {
      width: calc(100% - 100px);
    }
  }
  
}
