.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 30px;
  margin: 40px 0 25px;
  @media screen and (max-width: 768px) {
    //display: grid;
    //grid-template-columns: 1fr;
    //overflow: hidden;
    display: block;
  }

  .brand {
    display: block;
    @media screen and (max-width: 768px) {
      display: none;
    }
    
    img {
      width: 29px;
      height: auto;
    }
  }

  .categoriesList {
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
  
}
