.brands {
  margin-bottom: 0px;
  display: grid;
  align-items: start;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 0.2fr 1fr;
  gap: 12px;
  grid-template-areas:
    "one one three two two"
    "one one five five six"
    "four four five five six";

  @media screen and (max-width: 768px) {
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      'one one three'
      'two two two'
      'four five five'
      'six six six';
    gap: 6px;
    margin: 10px;
  }

  .brand {
    background-color: #fff;
    border-radius: 24px;
    overflow: hidden;
    position: relative;
    background-position: center bottom;
    background-size: contain;
    background-repeat: no-repeat;
    max-height: 500px;
    @media screen and (max-width: 768px) {
      max-height: 170px;
    }

    &:before {
      content: '';
      border-radius: 24px;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      border: 2px solid transparent;
      transition: border-color 0.2s;
    }

    &:hover:before {
      border-color: #ffc812;
      transition: border-color 0.2s;
    }

    &:nth-child(1) {
      grid-area: one;
      width: 100%;
      height: 400px;
      @media screen and (max-width: 768px) {
        width: 100%;
        height: 170px;
        background-position: right center;
      }
    }

    &:nth-child(2) {
      grid-area: three;
      width: 100%;
      height: 330px;
      @media screen and (max-width: 768px) {
        width: 100%;
        height: 170px;
      }
    }

    &:nth-child(3) {
      grid-area: two;
      width: 100%;
      height: 330px;
      @media screen and (max-width: 768px) {
        width: 100%;
        height: 170px;
      }
    }

    &:nth-child(4) {
      grid-area: four;
      width: 100%;
      height: 330px;
      @media screen and (max-width: 768px) {
        width: 100%;
        height: 170px;
      }
    }

    &:nth-child(5) {
      grid-area: five;
      width: 100%;
      height: 400px;
      @media screen and (max-width: 768px) {
        width: 100%;
        height: 170px;
        background-position: right;
      }
    }

    &:nth-child(6) {
      grid-area: six;
      width: 100%;
      height: 400px;
      background-size: cover;
      @media screen and (max-width: 768px) {
        width: 100%;
        height: 170px;
        background-size: cover;
        background-position: top;
      }
    }
  }
}
