.generalContainer {
  padding: 20px;
  background-color: #f7f8fa;
  max-width: 600px;
  margin: 0 auto;
}

// h1 {
//   text-align: center;
//   margin-bottom: 20px;
// }

// button {
//   width: 100%;
// }
