.row {
  display: grid;
  @media screen and (max-width: 768px) {
    margin: 0 16px;
  }

  .categories {
    display: flex;
    justify-self: end;
    gap: 0 10px;
    @media screen and (max-width: 768px) {
      width: calc(100% - 40px);
      justify-self: start;
    }

    .category,
    .all {
      padding: 12px 20px;
      margin: 0 4px;
      border-radius: 24px;
      background-color: #fff;
      color: #0c0c0c;
      font-size: 12px;
      cursor: pointer;

      &.active {
        color: #fff;
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.2) 0%,
            rgba(0, 0, 0, 0.2) 100%
          ),
          linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
          linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
          #0c0c0c;
      }
    }
  }

  .toggle {
    padding: 8px;
    width: 40px;
    height: 40px;
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background-color: #fff;
    cursor: pointer;
  }

  .slide {
    width: max-content;
    display: flex;
    align-self: center;
  }
}
