.links {
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  gap: 18px 0;

  @media screen and (max-width: 768px) {
    gap: 10px 0;
  }

  .link,
  .exit {
    padding: 16px 20px;
    display: grid;
    align-items: center;
    grid-template-columns: max-content 1fr max-content;
    gap: 0 12px;
    border-radius: 44px;
    background-color: #fff;
    color: #0c0c0c;
    font-size: 24px;

    @media screen and (max-width: 768px) {
      padding: 16px 12px;
      font-size: 16px;
      line-height: 20px;
    }
  }

  .exit {
    background-color: #f9f9f9;
  }

  .arrow path {
    fill: #0c0c0c;
  }

  .icon {
    width: 32px;
    height: 32px;

    @media screen and (max-width: 768px) {
      width: 24px;
      height: 24px;
    }
  }
}
