.title {
  margin-bottom: 40px;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 23px;
  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    margin: 0 16px;
    
  }
}

.wraper {
  margin: 0 16px;
}
