.wraper {
  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 16px;
  }

  .list {
    display: grid;
    gap: 16px 0;
    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  .item,
  .ref {
    padding: 24px;
    border-radius: 16px;
    background-color: #fff;
    @media screen and (max-width: 768px) {
      padding: 12px;
      
    }
  }

  .items {
    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 0 16px;  
    }
  }

  .item {
    display: grid;
    align-items: center;
    grid-template-columns: 1.5fr 1fr;
    gap: 0 10px;
    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;  
      justify-content: space-between;
      padding: 12px 16px;
    }

    .title {
      justify-self: end;
      font-weight: 600;
    }

    .text {
      text-align: center;
      color: #808080;
      font-size: 20px;
      line-height: 120%;
    }
  }

  .ref {
    display: grid;
    align-items: center;
    grid-template-columns: max-content max-content max-content;
    justify-content: space-between;
    gap: 0 14px;
    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 0px;
    }

    .codeWraper {
      @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }

    .code {
      padding: 10px 12px;
      border-radius: 16px;
      background-color: #ffc812;
      color: #0c0c0c;
      font-size: 20px;
      font-weight: 600;
      line-height: 120%;
      width: max-content;
    }

    .title {
      color: #0c0c0c;
      font-size: 20px;
      font-weight: 600;
      line-height: 120%;
    }

    .icon {
      width: 40px;
      height: 40px;
      display: grid;
      justify-content: center;
      align-items: center;
      padding: 8px;
      border-radius: 16px;
      background-color: #f9f9f9;
      cursor: pointer;
    }
  }

  .btn {
    display: block;
    min-width: 196px;
    margin-top: 20px;
    margin-left: auto;
    @media screen and (max-width: 768px) {
      margin: 12px 0;
      
    }
  }

  .text {
    color: #0c0c0c;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
  }
}
